parameters:


services:
    yosimitso_workingforum_smiley:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\SmileyTwigExtension
        tags:
            -  { name: twig.extension }
        arguments: ["@request_stack", "@twig.extension.assets"]

    yosimitso_workingforum_quote:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\QuoteTwigExtension
        tags:
            -  { name: twig.extension }
        arguments: ["@doctrine.orm.entity_manager", "@translator"]
    yosimitso_workingforum_config:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\ConfigurationTwigExtension
        tags:
            - { name: twig.extension }
        arguments: ["%yosimitso_working_forum.theme_color%"]
    yosimitso_workingforum_authorization:
        class: Yosimitso\WorkingForumBundle\Security\Authorization
        arguments :
            - "@security.authorization_checker"
            - "@security.token_storage"
            - "%yosimitso_working_forum.allow_anonymous_read%"


