parameters:


services:
    yosimitso_workingforum_base_controller:
        class: Yosimitso\WorkingForumBundle\Controller\BaseController
        calls:
          - ["setParameters",["@doctrine.orm.entity_manager","@yosimitso_workingforum_authorization","@=service('security.token_storage').getToken().getUser()","@session", "@translator", "@knp_paginator"]]

    yosimitso_workingforum_forum_controller:
        class: Yosimitso\WorkingForumBundle\Controller\ForumController
        parent: yosimitso_workingforum_base_controller
        public: true

    yosimitso_workingforum_thread_controller:
        class: Yosimitso\WorkingForumBundle\Controller\ThreadController
        parent: yosimitso_workingforum_base_controller
        public: true
        arguments:
          - "@yosimitso_workingforum_util_thread"
          - "@yosimitso_workingforum_util_fileuploader"
          - "@yosimitso_workingforum_smiley"

    yosimitso_workingforum_admin_controller:
        class: Yosimitso\WorkingForumBundle\Controller\AdminController
        parent: yosimitso_workingforum_base_controller
        public: true
        arguments:
          - "@yosimitso_workingforum_smiley"

    yosimitso_workingforum_search_controller:
        class: Yosimitso\WorkingForumBundle\Controller\SearchController
        parent: yosimitso_workingforum_base_controller
        public: true

    yosimitso_workingforum_post_controller:
        class: Yosimitso\WorkingForumBundle\Controller\PostController
        parent: yosimitso_workingforum_base_controller
        public: true
        arguments:
          - "@yosimitso_workingforum_util_thread"

    yosimitso_workingforum_smiley:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\SmileyTwigExtension
        tags:
            -  { name: twig.extension }
        arguments: ["@request_stack", "@assets.packages"]

    yosimitso_workingforum_quote:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\QuoteTwigExtension
        tags:
            -  { name: twig.extension }
        arguments: ["@doctrine.orm.entity_manager", "@translator"]
    yosimitso_workingforum_config:
        class: Yosimitso\WorkingForumBundle\Twig\Extension\ConfigurationTwigExtension
        tags:
            - { name: twig.extension }
        arguments: ["%yosimitso_working_forum.theme_color%"]

    yosimitso_workingforum_authorization:
        class: Yosimitso\WorkingForumBundle\Security\Authorization
        arguments :
            - "@security.authorization_checker"
            - "@security.token_storage"
            - "%yosimitso_working_forum.allow_anonymous_read%"

    yosimitso_workingforum_util_thread:
        class: Yosimitso\WorkingForumBundle\Util\Thread
        arguments:
            - "%yosimitso_working_forum.lock_thread_older_than%"
            - "@knp_paginator"
            - "%yosimitso_working_forum.post_per_page%"
            - "@request_stack"

    yosimitso_workingforum_util_fileuploader:
        class: Yosimitso\WorkingForumBundle\Util\FileUploader
        arguments:
            - "@assets.packages"
            - "@doctrine.orm.entity_manager"
            - "%yosimitso_working_forum.file_upload%"
            - "@translator"

    yosimitso_workingforum_listener.post:
        class: Yosimitso\WorkingForumBundle\Event\PostEvent
        arguments:
            - "%yosimitso_working_forum.post_flood_sec%"
            - "@translator"
        tags:
          - { name: doctrine.event_listener, event: prePersist}

