parameters:
  level: 2
  paths:
    - Controller
    - DependencyInjection
    - Entity
    - Event
    - Form
    - Repository
    - Security
    - Service
    - Tests
    - Twig
    - Util
  autoload_files:
    - vendor/autoload.php
