<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <!-- Les fichiers de tests à lancer -->
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests/Service</directory>
            <directory suffix="Test.php">./Tests/ParamConverter</directory>
        </testsuite>
        <testsuite name="scenario">
            <directory suffix="Test.php">./Tests/Scenario</directory>
        </testsuite>
    </testsuites>
    <!-- Quels fichiers sont concernés par l'évaluation du code coverage -->
    <filter>
        <whitelist>
            <directory>./Tests</directory>
        </whitelist>
    </filter>
    <php>
        <server name="KERNEL_CLASS" value="Yosimitso\WorkingForumBundle\Tests\Kernel" />
        <server name="PANTHER_WEB_SERVER_DIR" value="." />
        <server name="APP_ENV" value="test" />
        <server name="APP_SECRET" value="rbrbrrberbqb" />
        <server name="DATABASE_URL" value="mysql://dbuser:dbpassword@127.0.0.1:3306/dbname" />
        <server name="MAILER_URL" value="" />
        <env name="TEST_ADMIN_USERNAME" value="testuser" />
        <env name="TEST_ADMIN_PASSWORD" value="pwd" />
    </php>

</phpunit>
