@font-face {
    font-family: Roboto;
    src: url(./fonts/roboto-regular.ttf);
}

#wf_forum {
    padding-bottom: 60px;
}

.wf_forum {
    font-family: Roboto;
    border-bottom: 0.5px solid silver;
    border-left: 1px solid;
}

.wf_empty {
    font-style: italic;
}

.wf_subforum {
    margin: 5px;
    padding: 5px;
    width: 99%;
    border-collapse: collapse;
}

.wf_subforum td {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: left;
}

.wf_sub_name {
    width: 40%;
}

.wf_sub_lastreply, .wf_sub_stat {
    font-size: 13px;
}

.wf_sub_stat {
    width: 10%;
}

.wf_sub_author {
    width: 20%
}

.wf_thread_list {
    margin: 5px;
    font-size: 13px;
    padding: 5px;
    width: 99%;
    border-collapse: collapse;
}

.wf_thread_list td {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: left;
}

.wf_thread_list .wf_label {
    width: 40%;
}

.wf_thread_list .wf_sublabel {
    font-size: 12px;
}

.wf_thread_list th {
    text-align: left;
}

.wf_thread {
    padding-bottom: 60px;
}

.wf_thread h1 {
    font-size: 18px;
    padding: 10px 10px 10px 30px;
    font-family: RobotoCondensed;
    margin-bottom: 0;
}

.wf_thread h2 {
    font-size: 14px;
    padding: 5px;
    margin: 0;

}

.wf_breadcrumb {
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
}

.wf_post {
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.wf_post .wf_post-left {
    float: left;
    padding: 10px;
    border-radius: 3px;
}

.wf_post .wf_post-admin {
    float: left;
    padding: 10px;
    border-radius: 3px;
}

.wf_post-left p {
    margin: 0;
}

.wf_locked {
    font-style: italic;
}

.wf_post .wf_post-right {
    margin-left: 150px;
    word-wrap: break-word;
}

.wf_post-left .wf_username {
    font-size: 14px;
    font-weight: bold;
}

.wf_post-right .wf_date {
    font-size: 12px;
    margin-bottom: 10px;
}

.wf_new_post {
    margin: 20px auto;
    text-align: center;
    width: 700px;
    text-align: center;
}

.wf_post_a_message {
    font-size: 18px;
    font-family: RobotoCondensed;
    margin-bottom: 10px;
}

#wf_forum_content .wf_textarea_post {
    height: 300px;
    width: 698px;
    padding: 10px;
    font-family: Arial;
}

#wf_forum_content .wf_new_thread .wf_textarea_post {
    height: 300px;
    width: 698px;
    padding: 10px;
    font-family: Arial;
}

.wf_width100 {
    width: 100%;
}

.wf_breadcrumb {
    margin: 0 0 10px 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    box-shadow: 1px 1px 3px #888;

}

#wf_forum_content {
    margin-top: 100px;
    margin-left: 10px;
}

.wf_breadcrumb a {
    color: inherit;
    text-decoration: none;
}

.wf_thread_list a {
    color: inherit;
    text-decoration: inherit;
    font-family: Roboto, Arial;
}

.wf_sub_name a {
    color: inherit;
    text-decoration: inherit;
}

.wf_new_thread_button {
    margin: 5px 0 10px 5px;

}


.wf_new_thread h1 {
    font-size: 18px;
    padding: 10px 10px 10px 30px;
    font-family: RobotoCondensed;
    margin-bottom: 0;
}

.wf_new_thread .wf_content {
    margin: 10px auto;
    width: 50%;
    text-align: center;
    padding-bottom: 60px;
}

.wf_new_thread .wf_content p {
    margin-bottom: 10px;
}

.wf_new_thread input[type="text"], .wf_new_thread input[type="email"], .wf_new_thread input[type="password"], .wf_new_thread select {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid;
    border-radius: 3px;
    font-size: 16px;
    height: 25px;
    width: 300px;
}

.wf_empty_forum {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding: 20px;
}

#wf_forum_admin {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;
    font-family: Roboto, "Lucida Grande", Arial;
    text-align: left;

}

#wf_forum_admin label, #wf_forum_admin .wf_label {
    font-size: 20px;
    font-family: "Lucida Grande", Arial;
    margin-top: 20px;
}

#wf_forum_admin .wf_forum_block_admin label {
    font-size: 12px;
}

#wf_forum_admin input[type="text"], #wf_forum_admin input[type="email"], #wf_forum_admin input[type="password"], #wf_forum_admin select {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid;
    border-radius: 3px;
    font-size: 16px;
    height: 25px;
    width: 300px;
}

.wf_forum_block_admin .wf_forum_content {
    padding: 10px;
}

#wf_forum_admin ul {
    list-style: inside none;

}

#wf_forum_content h1 {
    height: 30px;
    text-align: center;
    border-bottom: 1px solid;
    font-family: Arial;
    font-size: 28px;
    padding: 5px 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}

.wf_forum_block_admin {
    border: 1px solid;
    max-width: 500px;
    min-width: 300px;
    font-family: "Arial";
    margin-left: 20px;
    float: left;
}

.wf_forum_block_admin a {
    color: inherit;
    text-decoration: inherit;
}

.wf_forum_block_admin ul {
    margin: 10px 0;
}

.wf_forum_block_title {
    font-family: Roboto, "Lucida Grande";
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.wf_clear {
    clear: both;
}

.wf_pin td {
    font-weight: bold;

}

.wf_pinText {
    font-weight: bold;
}

.wf_button {
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    cursor: pointer;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

.wf_button:hover {
    text-decoration: none;
}

.wf_button-small {
    font-size: 12px;
}

.wf_button-grey {
    cursor: auto;
}

.wf_add-plus {
    padding-left: 25px;
}

.wf_search_icon {
    padding-left: 25px;
}

.alert-error, .alert-success {
    padding: 15px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid;
    text-align: left;
    color: red;
    font-size: 14px;
}

.md-header.btn-toolbar {
    width: 690px;
}

#wf_new_post .md-editor > .md-preview {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px dashed;
    border-top: 1px dashed;
    min-height: 10px;
    overflow: auto;
    padding: 10px;
    text-align: left;
}

.wf_pagination {
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Roboto, "Helvetica Neue";
    margin: 10px auto;
    max-width: 800px;
    min-height: 20px;
    min-width: 100px;
    padding: 5px;
    text-align: center;
}

.wf_pagination ul {
    list-style: outside none none;
    margin: 0;
}

.wf_pagination .wf_disabled, .wf_pagination .wf_active {
    color: silver;
}

.wf_pagination .wf_previous {
    text-align: left;
}

.wf_pagination .wf_next, .wf_pagination .wf_previous {
    width: 100px;
}

.wf_pagination li {
    float: left;
    width: 15px;
}

.wf_pagination li a {
    color: inherit;
    text-decoration: inherit;
}

.wf_width50 {
    width: 50%;
}

.wf_center {
    margin: 0 auto;
}

.wf_quote-img {
    width: 16px;
    margin-left: 5px;
}

.wf_button-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

code {
    border: 1px solid;
    border-radius: 4px;
    display: block;
    white-space: nowrap;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;

}

.wf_pagination .wf_center {
    width: 40%;
    margin: 0 auto;
}

.wf_post-right blockquote {
    padding: 10px 20px;
    font-size: 100%;

}

#wf_smiley {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    height: 20px;
}

#wf_smiley ul li {
    float: left;
    margin-right: 2px;

}

#wf_smiley ul {
    list-style: none;
    margin-bottom: 0;
}

.wf_admin_left {
    float: left;
    width: 50%;
}

#wf_search {
    padding: 60px;
    font-family: Roboto;
    border-bottom: 0.5px solid;
    border-left: 1px solid;
}

#wf_search input {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    font-size: 16px;
    height: 25px;
    width: 300px;
}

#wf_search select {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.wf_admin_table {
    width: 100%;
    border-collapse: collapse;
}

.wf_admin_table thead tr th {
    padding: 10px;
    font-weight: normal;
    text-align: left;
}

.wf_admin_table td {
    font-family: Arial;
    padding: 5px;

}

.wf_moderate {
    font-style: italic;
}

#wf_list_subforum ul {
    list-style: none;
}

.wf_sub_name p {
    margin: 0;
}

.wf_latest_page {
    font-style: italic;
    font-size: 10px;
}

.wf_cadre-img-small {
    vertical-align: middle;
    width: 40px;
}