{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
    {% trans_default_domain 'YosimitsoWorkingForumBundle' %}
    <script src="{{ asset('bundles/yosimitsoworkingforum/js/jquery.min.js') }}"></script>
    {% include '@YosimitsoWorkingForum/Admin/Report/report.js.twig' %}

    <div id="wf_forum_content">
        {%  include '@YosimitsoWorkingForum/Admin/header.html.twig' with {'backToAdmin': true, 'adminSubtitle': 'admin.menu.report'} %}
        <div id="wf_forum_admin">
            <p>
                <a class="wf_button" href="{{ path('workingforum_admin_report_history') }}">
                    {{ 'admin.report.history' |trans }}
                </a>
            </p>
            {% include '@YosimitsoWorkingForum/Admin/Report/report_content.html.twig' with {'postReportList': postReportList } %}
        </div>
    </div>
{% endblock %}